<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="">
	<title> Frank's chat- room</title>
</head>
<body>
	<div class="rm-container">
		<h1 class="rm-title">Frank's Chat</h1>
		<div class="rm-userbox">
			<img src="" class="userPic">
			<h3 class="userName"> Frankenstein | <a href="#">Logout</a><a href="#">More Chatrooms</a></h3>
			
		</div>
		<div class="rm-roomname">
			<h5>NodeJS</h5>
			
		</div>
		<div class="rm-messages">
			<ul class="messages">
				<li>
					<div class="msgbox">
						<div class="pic"><img src="">Frankenstein
							
						</div>
						<div class="msg"><p>Hi there this looks nice</p></div>
					</div>
				</li>
			</ul>
			
		</div>
		<div class="rm-users">
			<ul class="users">
				<li><img src=""><h5>Frank frank</h5></li>
				
			</ul>
			
		</div>
		<div class="rm-newmessage">
			<input type="text" class="newmessage" autocomplete="off" placeholder="Type in ur message and press enter !">
			
		</div>


		
	</div>

</body>
</html>